input:invalid {
  border-color: rgb(194, 74, 74);
  background-color: rgb(236, 174, 174);
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: rgb(194, 74, 74);
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

.row,
.form-row {
  margin-top: 1em;
}
