input:invalid {
  border-color: rgb(194, 74, 74);
  background-color: rgb(236, 174, 174);
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */

#error-wrapper {
  display: none;
}
#hide {
  display: none;
}

.error {
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: rgb(194, 74, 74);
  color: white;
  text-transform: capitalize;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

#error-wrapper {
  /* border: 1px solid rgb(194, 74, 74); */
  height: auto;
}

.error.active {
  padding: 0.3em;
}

.row,
.form-row {
  margin-top: 1em;
}

.has-error {
  border: 1px solid red;
}

.has-error:focus {
  box-shadow: 0 0 5px red;
}
